<title>GESTION CLIENTE</title>
<br> <br>
<div align="center"><img src="assets/user2.png" alt="Logo"><h1>GESTION CLIENTE</h1></div>
<br>
<header>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</header>
<br>
<div class="frame">
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a class="nav-link" [routerLink]='["/clienteregistro"]'>REGISTRAR CLIENTES</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/registrar.png" alt="Logo"> </div>
        </span>
    </button>
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a class="nav-link" [routerLink]='["/clienteconsulta"]'>CONSULTAR CLIENTES</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/consultar.png" alt="Logo"> </div>
        </span>
    </button>
</div>
<br><br>