<title>GESTION EMPLEADO</title>
<br> <br>
<div div align="center"><img src="assets/user.png" alt="Logo"><h1 style="color: rgb(255, 255, 255)">GESTION EMPLEADO</h1></div>
<br>
<header>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</header>
<br>
<div class="frame">
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a style="color: rgb(255, 255, 255)" class="nav-link" [routerLink]='["/empleadoregistro"]'>REGISTRAR EMPLEADO</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/registrar.png" alt="Logo"> </div>
        </span>
    </button>
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a style="color: rgb(255, 255, 255)" class="nav-link" [routerLink]='["/empleadoconsulta"]'>CONSULTAR EMPLEADO</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/consultar.png" alt="Logo"> </div>
        </span>
    </button>
</div>
<br><br>