#Buscador {
  width: 20%;
  position: relative;
  left: 38%;
  top: 20px;
  border-radius: 25px;
}
  
  button[type="submit"] {
    position: relative;
    top: -51px;
    left: 110%;
    font-size: 155%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  input[type="search"] {
    font-size: 135%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  a {
    font-size: 25px;
    
    text-align: center;
    color: #ffffff;
  }
  
  h1 {
    font-size: 30px;
    
    text-align: center;
    color: #000000;
  }
  
  th {
    cursor: pointer;
  }


  #divcontainer2 {
    border-radius: 25px;
    font-size: 30px;
    width: 98%;
    height: 60px;
    position: relative;
    left: 1%;
    margin-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  
  #rcorners1 {
    border-radius: 25px;
    padding: 20px;
    width: 98%;
    position: relative;
    left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  table,
  td,
  th {
    border: 4px solid #007bff;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  table {
    border-collapse: collapse;
    position: relative;
    top: 8px;
    font-size: 25px;
  }
  
  li {
    float: left;
  }
  
  #Contenedor1 {
    font-size: 25px;
    
    color: #24009c;
    position: relative;
    left: 73.3%;
    top: -200px;
    border: 2px solid #007bff;
    border-radius: 25px;
    background: #ffffff;
    padding: 15px;
    width: 25%;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  select {
    width: 60%;
    height: 40px;
    border-radius: 25px;
    position: relative;
    left: 4%;
    top: -2px;
    font-size: 25px;
    
    color: #ffffff;
    background-color: #007bff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  