<title>LOGIN</title>
<br>
<div id="form">
  <form action="/action_page.php" method="post">
    <div class="imgcontainer">
      <br>
      <img src="assets/userl.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>USUARIO</b></label>
      <input type="text" placeholder="INGRESAR USUARIO" name="usuario" required>
      <label for="psw"><b>CONTRASEÑA</b></label>
      <input type="password" placeholder="INGRESAR CONTRASEÑA" name="contraseña" required>
      <br><br>
      <button id="divcontainer2" type="button" style="color: rgb(0, 0, 0)" [routerLink]='["/login"]'
      class="border border-success">Registrarme</button>
    </div>
  </form>
  <br><br>
</div>
<br>