<header>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</header>
<title>ADMINISTRACION</title>
<br>
<div align="center"><img src="assets/Admin.png" alt="Logo"> <br>
    <h1>ADMINISTRACION</h1>
</div>
<div class="frame">
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a class="nav-link" [routerLink]='["/clientegestion"]'>GESTIONAR CLIENTES</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/user2.png" alt="Logo"> </div>
        </span>
    </button>
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a class="nav-link" [routerLink]='["/empleadogestion"]'>GESTIONAR EMPLEADOS</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/user.png" alt="Logo"> </div>
        </span>
    </button>
</div>
<div class="frame">
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a class="nav-link" [routerLink]='["/facturagestion"]'>GESTIONAR FACTURAS</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/factura.png" alt="Logo"> </div>
        </span>
    </button>
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a class="nav-link" [routerLink]='["/habitaciongestion"]'>GESTIONAR HABITACIONES</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/room.png" alt="Logo"> </div>
        </span>
    </button>
</div>