<footer style="background-color: #1687ff; color: white;">
    <div class="container pie_de_pagina">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                    Oscar David Serge Blanco<br>
                    Diego Andres Santiago Pallares<br>
                    Valledupar - Cesar / Colombia<br>
                    Teléfonos: 305 3438126<br>
                </h6>
            </div>

            <div class="col-xs-12 col-md-6 text-right" style="font-size: 10px;">
                <h6 class="text-muted lead">REDES SOCIALES</h6>
                <div class="redes-footer">
                    <h6 class="text-muted">
                        Oscar Frontend 
                        <a href="https://www.facebook.com/profile.php?id=100018711459880"><img
                            src="/assets/facebook.png"></a>
                    </h6>
                    
                    <h6 class="text-muted">
                        Diego Backend
                        <a href="https://www.facebook.com/andres.pallares.7902/"><img src="/assets/facebook.png"></a>
                    </h6>
                   
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Oscar Serfe y Diego
        Pallares, Desarroladores Web
    </div>
</footer>