footer {
  width: 100%;
  height: 195%;
  padding-top: 1.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main1 {
  display: flex;
  margin: 0 auto;
}

a img:hover {
  color: rgb(233, 233, 233);
}

a img {
  margin-left: 10px;
}

.text-muted {
  color: #fafafa !important;
}
