<title>REGISTRO RESERVA</title>
<br>
<div align="center"><img src="assets/registrar.png" alt="Logo">
    <h1>RESERVACION</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form id="formularioRegistro" [formGroup]="formregistro">

        <div class="form-group">
            <label>Codigo Reserva</label>
            <label>{{reserva.IdReserva}}</label>
        </div>

        <div class="form-group">
            <label>Cedula Cliente</label>
            <input type="input" id="cedula" name="cedula"
                [ngClass]="{'is-invalid': control.cedula.errors && control.cedula.touched}"
                formControlName="cedula">
            <div *ngIf="control.cedula.errors" class="invalid-feedback">
                <div *ngIf="control.cedula.errors.required">Se requiere el numero de cedula</div>
            </div>
        </div>

        <div class="form-group">
            <label>Numero de Habitacion: </label>
            <label>{{reserva.idHabitacion}}</label>
        </div>

        
        <div class="form-group">
            <label>Tipo de Habitacion: </label>
            <label>{{reserva.tipo}}</label>
        </div>

        
        <div class="form-group">
            <label>Numero de Personas: </label>
            <label>{{reserva.nPersonas}}</label>
        </div>

        <div class="form-group">
            <label>Precio de Habitacion: </label>
            <label>{{reserva.precio}}</label>
        </div>

        <div>
            <label>Fecha de entrada:</label>
            <input type="date" id="fechaentrada" name="Fecha de Entrada">
        </div>

        <div>
            <label>Fecha de salida:</label>
            <input type="date" id="fechasalida" name="Fecha de Salida">
        </div>

        <div class="form-group">
            <label>Total</label>
            <input  type="number" id="precio" name="precio"
                [ngClass]="{'is-invalid': control.precio.errors && control.precio.touched}" formControlName="precio"
                placeholder="Precio de Habitacion">
            <div *ngIf="control.precio.errors" class="invalid-feedback">
                <div *ngIf="control.precio.errors.required">Se requiere el precio de la habitacion</div>
            </div>
        </div>
    </form>
</div>
<br>
<button id="divcontainer2" type="reset" class="btn btn-primary" (click)="onSubmit()" [disabled]="formregistro.invalid"
[routerLink]='["/habitacionconsulta"]'>Guardar</button>