<!--
    <title>REGISTRO DE HABITACIONES</title>
<br><div align="center"><img src="assets/registrar.png" alt="Logo">
    <h1>REGISTRO DE HABITACIONES</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form id="formularioRegistro">
        <label>Numero de Habitacion</label>
        <input type="number" id="idHabitacion" name="idHabitacion"   placeholder="Numero de Habitacion">
        <label >Tipo de Habitacion</label>
        <select id="tipoHabitacion" placeholder="Seleccionar" name="tipoHabitacion"   >
            <option value="seleccionar">Seleccionar</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
        </select> <br>
        <label >Estado</label>
        <input type="text" id="estadoHabitacion" name="estadoHabitacion"  >
        <label>Precio de Habitacion</label>
        <input type="number" id="precioHabitacion" name="precioHabitacion"     placeholder="Precio de Habitacion">
    </form>
</div>
<br>
<button  id="divcontainer2" type="button" class="btn btn-primary">Guardar</button> 

<button  id="divcontainer2" type="button" class="btn btn-primary" (click)="add()">Guardar</button> 

-->