#navcont {
  height: 80px;
}

a {
  font-size: 25px;
  font-family: Serif;
  color: #ffffff;
}

#div02{
  margin-right: 2%;
}

#div03{
  margin-right: 3%;
}

h1 {
  font-size: 30px;
  font-family: Serif;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 30px;
  font-family: Serif;
  text-align: center;
  color: #ffffff;
}

p {
  font-size: 30px;
  font-family: Serif;
  text-align: justify;
  color: #ffffff;
}
