#navcont {
  height: 80px;
  background-color: #1687ff;
}

a {
  color: #ffffff;
}

#div02{
  margin-right: 2%;
}

#div03{
  margin-right: 1%;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
}

p {
  text-align: justify;
  color: #ffffff;
}
