<title>GESTION RESERVA</title>
<br> <br>
<h1>Reservas</h1>
<br><br>
<!-- Card -->
<div class="card-deck">
    <div class="row">
        <div id="cardr" style="left: 5%; background-color:rgba(0, 255, 221, 0.384);" class="card"
            *ngFor="let habitacion of habitaciones ">

            <!-- Card image -->
            <div align="center"><img class="card-img-top" src="assets/Hotel2.jpg" alt="Card image cap"></div>

            <div align="center">

                <h3 class="card-title">Habitacion: #{{habitacion.idHabitacion}}</h3>
            </div>


            <!-- Card content -->
            <div class="card-body">

                <h3 class="card-title">Tipo de habitacion: {{habitacion.tipo}}</h3>

                <h3 class="card-title">Numero de personas: {{habitacion.nPersonas}}</h3>

                <h3 class="card-title">Precio: {{habitacion.precio}}</h3>

                <h3 class="card-title">Estado: {{habitacion.estado}}</h3>

            </div>
            <div class="card-footer">
                <button [routerLink]='["/reservaregistro"]' type="button" class="btn btn-grad btn-lg btn-block">
                    <h2>
                        Reservar
                    </h2>
                </button>
            </div>

        </div>
    </div>
</div>
<br><br>