<style>
  a {
    text-align: center;

    color: #ffffff;
  }

  h1 {


    text-align: center;

    color: #000000;

  }


  h2 {

    text-align: center;

    color: #ffffff;

  }

  p {
    text-align: center;

    color: #ffffff;

  }

  #rc3 {

    border-radius: 25px;

    padding: 10px;

    position: relative;

    left: 5%;

    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  #rc4 {

    padding: 10px;

    position: relative;

    left: 40%;

    width: 20%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
</style>

<title>Hotel Neruda</title>
<br><br>
<div align="center"><img src="assets/Hotel.png" alt="Logo"> <br> <br>
  <h1>HOTEL NERUDA</h1>
</div>
<br><br><br><br>
<div>
</div>
<br><br><br><br>