<!--

<title>REGISTRO DE EMPLEADO</title>
<br>
<div align="center"><img src="assets/registrar.png" alt="Logo">
    <h1>REGISTRAR EMPLEADO</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form id="formularioRegistro">
        <label>Cedula</label>
        <input type="text" id="cedula" name="cedula" placeholder="Cedula">
        <label>Primer Nombre</label>
        <input type="text" id="primerNombre" name="primerNombre" placeholder="Primer Nombre">
        <label>Segundo Nombre</label>
        <input type="text" id="segundoNombre" name="segundoNombre" placeholder="Segundo Nombre">
        <label>Primer Apellido</label>
        <input type="text" id="primerApellido" name="primerApellido" placeholder="Primer Apellido">
        <label>Segundo Apellido</label>
        <input type="text" id="segundoApellido" name="segundoApellido" placeholder="Segundo Apellido">
        <label>Sexo</label>
        <select id="sexo" name="sexo">
            <option value="seleccionar">Seleccionar</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select> <br>
        <label>Edad</label><br>
        <input type="number" id="edad" name="edad"><br>
        <label>Telefono</label><br>
        <input type="number" id="telefono" name="telefono"><br>
        <label>E-mail</label>
        <input type="text" id="email" name="email">
        <label >Departamento</label>
        <input type="text" id="departamento" name="departamento"  placeholder="Departamento"><br>
        <label >Ciudad</label>
        <input type="text" id="ciudad" name="ciudad"  placeholder="Ciudad">
        <label>Tipo de Cargo</label>
        <select id="cargo" name="cargo">
            <option value="seleccionar">Seleccionar</option>
            <option value="A">Recepcionista</option>
            <option value="B">Camarera de piso</option>
            <option value="C">Gobernanta</option>
            <option value="D">Personal de seguridad y mantenimiento</option>
            <option value="E">Director general</option>
        </select> <br>
        <label>Jornada</label>
        <select id="jornadaEmpleado" name="jornadaEmpleado">
            <option value="seleccionar">Seleccionar</option>
            <option value="diurna">Diurna</option>
            <option value="nocturna">Nocturna</option>
        </select> <br>
    </form>
</div>
<br>
<button id="divcontainer2" type="button" class="btn btn-primary">Guardar</button>

<button  id="divcontainer2" type="button" class="btn btn-primary" (click)="add()">Guardar</button> 

-->
