
<!--

<title>GESTION FACTURA</title>
<br> <br>
<div align="center"><img src="assets/factura.png" alt="Logo"><h1 style="color: rgb(255, 255, 255)">GESTION FACTURA</h1></div>
<br>
<header>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</header>
<br>
<div class="frame">
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a style="color: rgb(255, 255, 255)" class="nav-link" [routerLink]='["/facturaregistro"]'>REGISTRAR FACTURA</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/registrar.png" alt="Logo"> </div>
        </span>
    </button>
    <button class="custom-btn btn-12">
        <span>
            <div>
                <a style="color: rgb(255, 255, 255)" class="nav-link" [routerLink]='["/facturaconsulta"]'>CONSULTAR FACTURA</a>
            </div>
        </span>
        <span>
            <div align="center"><img src="assets/consultar.png" alt="Logo"> </div>
        </span>
    </button>
</div>
<br><br>
-->
