<title>LOGIN</title>
<br>
<div id="form">
  <form action="/action_page.php" method="post">
    <div class="imgcontainer">
      <br>
      <img src="assets/userl.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>USUARIO</b></label>
      <input type="text" placeholder="INGRESAR USUARIO" name="usuario" required>
      <label for="tuser"><b>TIPO DE USUARIO</b></label>
      <select class="browser-default custom-select custom-select-lg mb-3">
        <option value="seleccionar">Seleccionar</option>
        <option value="masculino">Administrador</option>
        <option value="femenino">Cliente</option>
      </select>
      <label for="psw"><b>CONTRASEÑA</b></label>
      <input type="password" placeholder="INGRESAR CONTRASEÑA" name="contraseña" required>
      <br><br>
      <button id="divcontainer2" type="button" style="color: white" onclick="location.href='https://localhost:5001/administracion'"
      class="btn aqua-gradient">Iniciar Sesion</button>
      <br>
    </div>
  </form>
  <br>
  <button id="divcontainer1" type="button" style="color: white" [routerLink]='["/registro"]' class="btn blue-gradient" >Registrarme</button>
  <br><br>
</div>
<br>